h1 {
    display: flex;
    justify-content: center;
    color: red;
    font-family: cursive;
}

.name {
    color: teal;
    font-weight: 900;
    font-size: 22px;
    font-family: monospace;
}

.mainContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}

.charContain {
    margin-bottom: 20px;
}